aiohttp-cors
airportsdata
astor
blake3
cachetools
click
cloudpickle
colorful
compressed-tensors
depyf
diskcache
distlib
einops
fastapi
filelock
gguf
google-api-core
google-auth
googleapis-common-protos
grpcio
httptools
importlib-metadata
iniconfig
interegular
jsonschema
jsonschema-specifications
lark
lm-format-enforcer
mistral-common
msgpack
msgspec
nest-asyncio
numpy<2
nvidia-ml-py
opencensus
opencensus-context
opencv-python-headless
outlines
outlines-core
partial-json-parser
pillow
platformdirs
pluggy
prometheus-client
prometheus-fastapi-instrumentator
proto-plus
protobuf
psutil
py-cpuinfo
py-spy
pyasn1
pyasn1-modules
pybind11
pycountry
pydantic
pydantic-core
pytest
python-dotenv
pyzmq
ray
referencing
rpds-py
rsa
sentencepiece
smart-open
starlette
sympy
tiktoken
typing-extensions
uvicorn
uvloop
virtualenv
vllm
watchfiles
websockets
wrapt
xformers
xgrammar
zipp
absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asttokens
attrs
bitarray
bitsandbytes
blinker
cbor2
certifi
cffi
charset-normalizer
colbert-ai @ git+https://github.com/stanford-futuredata/ColBERT.git@501c29d9e0b7f7b393e36c4177ec2b141a253114
colorama
cupy-cuda12x
cut-cross-entropy
datasets
decorator
diffusers
dill
distro
dnspython
docstring-parser
email-validator
evaluate
executing
faiss-gpu
fastapi-cli
fastapi-cloud-cli
fastrlock
flask
frozendict
frozenlist
fsspec
fuzzywuzzy
gitdb
gitpython
h11
hf-transfer
hf-xet
httpcore
httpx
huggingface-hub
icalendar
idna
ipdb
ipython
ipython-pygments-lexers
itsdangerous
jedi
jinja2
jiter
joblib
levenshtein
llguidance
llvmlite
markdown-it-py
markupsafe
matplotlib-inline
mdurl
mpmath
multidict
multiprocess
networkx
ninja
nltk
nmslib-metabrainz
numba
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
openai-harmony
packaging
pandas
parso
peft
pexpect
prompt-toolkit
propcache
ptyprocess
pure-eval
pyarrow
pybase64
pycparser
pydantic-extra-types
pygments
pyparsing
python-dateutil
python-json-logger
python-levenshtein
python-multipart
pytz
pyyaml
rapidfuzz
regex
requests
rich
rich-toolkit
rignore
rouge-score
safetensors
scipy
sentry-sdk
setproctitle
shellingham
shtab
six
smmap
sniffio
soundfile
soxr
stack-data
thefuzz
tokenizers
torch
torchao
torchaudio
torchvision
tqdm
traitlets
transformers
triton
trl
typeguard
typer
typing-inspection
tyro
tzdata
ujson
urllib3
wandb
wcwidth
werkzeug
xxhash
yarl
